.container {
	padding-top: 10px;
	min-width: 755px;
	margin: 0 auto

}
.header {
	margin-bottom: 253px;
}
.row {
text-align: center;
display: flex;
justify-content: space-between;
flex-wrap: wrap;	
}

.header_list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;	
}
.header_link {
	font-size: 14px;
line-height: 24px;
font-family: Roboto;
color: #505F98;
text-decoration: none;
}
li {
	list-style-type: none;
}
.header_button {
	background-color: #111B47;
}
.header_btn {
	width: 160px;
	height: 26px;
	font-size: 14px;
	line-height: 24px;
	font-family: Roboto;
	text-decoration: none;
	color: white;
}

.intro_title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 50px;
	line-height: 66px;
	color: #091133;
	
}

.header_subtitle {
	font-family: Roboto;
font-size: 18px;
line-height: 30px;
margin-bottom: 69px;
}
.btn_primary {
	width: 190px;
	height: 36px;
	font-size: 14px;
	line-height: 24px;
	font-family: Roboto;
	text-decoration: none;
	color: white;
	border: none;
	background-color: #111B47;
}
.btn_secondary{
	width: 190px;
	height: 36px;
	font-size: 14px;
	line-height: 24px;
	font-family: Roboto;
	text-decoration: none;
	color: #111B47;
	border: solid 1px;
	
}